doctype 5

html
    head
        title= "One Second A Day"
        block assets
            include includes/head.jade
    body
        div.container-fluid
            block topNav
                include includes/topnav.jade
            block content
                span Hello World
            block footer
                include includes/foot.jade

