doctype 5

-if(typeof username === "undefined"){
    -username = ''
-}
html
    head
        title= "One Video A Day"
    body
        form(method='POST')
            label 
                | Username: 
                input(name="username", type="textbox", value="#{username}" )
            label
                | Password:
                input(name="password", type="password")
            input(type="submit", type="submit")

